<div
    id="loan-table"
    *ngIf="loaded"
>
    <div class="row">
        <div class="col">
            <h2>Loans</h2>
        </div>
        <div class="col">
            <button
                type="button"
                class="btn btn-primary"
                (click)="addNew()"
            >
                Add New Loan
            </button>

        </div>
    </div>

    <br>
    <table
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover"
    ></table>
</div>
