<div
    id="desc"
    class="container mx-auto"
>
    <p>
        This is a tiny app that simply implements CRUD functionality for two different record types. It has been implemented using the MEAN stack with the two records types being served by two separate microservices.
    </p>
    <p>
        <a
            href
            routerLink="customers"
        >
            Click here to do CRUD on customer records
        </a>
    </p>
    <p>
        <a
            href
            routerLink="loans"
        >
            And click here to do CRUD on loan records
        </a>
    </p>
    <p>Or, just navigate by using the header.</p>

</div>
